/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #d6dee1;
      background-clip: padding-box;
      border: 2px solid transparent;
      border-radius: 5px;
      transition: background-color 0.2s linear;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #3533cd;
    }

    70% {
      box-shadow: 0 0 0 10px #6B43BC00;
    }

    100% {
      box-shadow: 0 0 0 0 #6B43BC00;
    }
  }
